section.error404{
    background-image: url(../../public/img/errorultima-01.png); 
    background-position: center center;  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


    
}