div.login.container{
    margin-bottom: 160px;
}

input#email.form-control::placeholder{
    color: #F1F1E4;
    text-align: center;
    opacity: 0.8;
}
input#password.form-control::placeholder{
    color: #F1F1E4;
    text-align: center;
    opacity: 0.8;
}