div.g-4.row-cols-md-4.row-cols-1{
    margin-bottom: -300px;
}

p.card-text{
    max-height: 800px;
}
div.dos.card{
    display: flex;
}

@media screen and (max-width: 820px) {
   div.dos.card{
    width: auto;
    min-height: 800px;
   }
   div.text-center.card-title.h5{
    font-size: 20px;
   }
  
  }

  @media only screen and (min-width: 767px) and (max-width: 819px){
    div.dos.card{
    width: 700px;
    min-height: 300px;
    
  }
  div.mt-4.container{
    text-align: center;
    margin: 0;
  }
  div.g-4.row.row-cols-md-4.row-cols-1{
    text-align: center;
    margin: 0;
  }
  article.containerRight2{
    margin-bottom: -120px;
  }

}
@media only screen and (min-width: 820px) and (max-width: 850px){
div.dos.card{
    width: 750px;
    min-height: 300px;
}
div.mt-4.container{
    text-align: center;
    margin: 0;
}
div.g-4.row.row-cols-md-4.row-cols-1{
    text-align: center;
    margin: 0;
}
article.containerRight2{
    margin-bottom: -80px;
}
}


  
@media screen and (min-width: 821px) {
    div.dos.card{
     width: 22rem;
     min-height: 600px;
    }
   
   }
   @media only screen and (max-width: 500px) and (min-width: 100px)
   {
    div.dos.card{
        width: auto;
        min-height: 500px;
       }
   }
  