*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

section{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
  list-style: none;
}

a.nav{
  color: white;
  text-decoration: none;
  margin:30px;
}
a.nav:hover{
  opacity: 0.55;
  color: white;
}

a.nav__brand:hover{
  color: rgb(241, 241, 228);
}

div#basic-navbar-nav.navbar-collapse.collapse{
  flex-grow: initial;
}

div .navbar {
  background: url(../../public/img/RojoGranulado-02.png);

}


a.navbar-brand{
  color: rgb(241, 241, 228);
  font-size: 20px;
}

a.navbar-brand:hover{
  
  color: rgba(241, 241, 228, 0.726);
  border-radius: 5%;
}

div.nav-item.dropdown{
  align-self: center;
}
a.nav-link{
  color: rgb(241, 241, 228);
}

div#basic-navbar-nav.navbar.navbar-collapse.collapse{
  background:none;
}
a.nav-link:hover{
  background-color: rgb(241, 241, 228);
  color: brown;
  border-radius: 5%;
}
