*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

section{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

li {
  list-style: none;
}


a.nav__brand:hover{
  color: rgb(241, 241, 228);
}

div#basic-navbar-nav.navbar-collapse.collapse{
  flex-grow: initial;
}

div .navbar {
  background: url(../../public/img/RojoGranulado-02.png);

}


a.navbar-brand{
  color: rgb(241, 241, 228);
}

a.navbar-brand:hover{
  
  color: rgba(241, 241, 228, 0.726);
  border-radius: 5%;
}

a.nav-link{
  color: rgb(241, 241, 228);


}

a.nav-link:hover{
  background-color: rgb(241, 241, 228);
  color: brown;
  border-radius: 5%;
}
