section{
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}



div.container{
    text-align: center;
    justify-content: center;
}

div.d-flex.justify-content-between.align-items-center.mt-5{
    color: #F1F1E4;
    text-align: center;
}
table{
    color: #F1F1E4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.mt-5.registro.container{
    margin-bottom: 100px;
}

div.w-100.card{
    background:url(/public/img/NaranjaGranulado.png);
   
}

a.btn.btn-primary{
    background-color: #F1F1E4;
    color: brown;
    border: 0px;
}
a.btn.btn-primary:hover{
    background-color: brown;
    color: #F1F1E4;
    border: 0px;
}



th{
    color: #F1F1E4;
}
tbody{
    color: #F1F1E4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4.card-header{
    color: #F1F1E4;
    text-align: center;
}

label.form-label{
    
    color: brown;
    margin-top: 20px;
}

input#formNombreApellido.form-control{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
}
input#formNombreApellido.form-control::placeholder{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
    opacity: 0.8;
}


input#formNombreApellido.form-control{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
}
input#formEmail.form-control{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
}
input#formEmail.form-control::placeholder{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
    opacity: 0.8;
}
input#formPassword.form-control{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
}
input#formPassword.form-control::placeholder{
    background-color: brown;
    color: #F1F1E4;
    text-align: center;
}

button.mt-3.btn.btn-primary{
    text-align: center;
    background-color: brown;
    border: solid 0px;
    color: #F1F1E4;
}
button.mt-3.btn.btn-primary:hover{
    text-align: center;
    background-color: #F1F1E4;
    border: solid 0px;
    color: brown;
}

div.card-body{
    text-align: center;
}

input#password.form-control{
    text-align: center;
    background-color: brown;
    color: #F1F1E4;
}

input#email.form-control{
    text-align: center;
    background-color: brown;
    color: #F1F1E4;
}

button.mt-3.btn.btn-success{
    text-align: center;
    background-color: #F1F1E4;
    border: solid 0px;
    color: brown
}

a.btn.btn-outline-success.mt-3{
    text-align: center;
    background-color: #F1F1E4;
    border: solid 0px;
    color: brown
}

a.btn.btn-outline-success.mt-3:hover{
    text-align: center;
    background-color: brown;
    border: solid 0px;
    color: #F1F1E4;
    transform: scale(1.1);

}

button.mt-3.btn.btn-success:hover{
    text-align: center;
    background-color: brown;
    border: solid 0px;
    color: #F1F1E4;
    transform: scale(1.1);
}

